<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Feedbuff.Properties.Settings.FeedBufDBConnectionString"
            connectionString="Data Source=feedbuf.database.windows.net;Initial Catalog=FeedBufDB;Persist Security Info=True;User ID=CloudSAa8987ecc;Password=DisconnectedZuyd123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>